* {
  background-color: #2f3135;
  color: white;
  font-family: "Roboto Mono", monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  border: none;
  outline: none;
  background-color: #141621;
  border-radius: 10px;
  margin: 5px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.btn {
  width: 300px;
  height: 50px;
  margin-top: 15px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #080910;
  border-radius: 10px;
}

.btn:hover {
  transform: scale(1.05);
  transition: all 0.4s linear;
}

.employees {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.employee {
  width: 700px;
  height: auto;
  border: 1px solid #363a3f;
  margin: 10px;
  display: flex;
  padding: 10px;
  font-family: monospace;
  justify-content: space-between;
}

.employee h3 {
  margin: 20px;
}
